extends layout

block main

    section
        h1 Curso
        h3 Git + GitHub

    section
        section
            p
                i.fab.fa-git-square.fa-2x
            h1 
                a(href="https://git-scm.com/", target="_blank")
                    | Git

        section
            h3 Qué es?
            p Es un software de control de versiones diseñado por Linus Torvalds, pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones cuando éstas tienen un gran número de archivos de código fuente. Su propósito es llevar registro de los cambios en archivos de computadora y coordinar el trabajo que varias personas realizan sobre archivos compartidos.

    section
        section
            p
                i.fab.fa-github.fa-2x
            h1
                a(href="https://github.com/", target="_blank")
                    | GitHub
        section
            h3 Qué es?
            p Es una plataforma de desarrollo colaborativo para alojar proyectos utilizando el sistema de control de versiones Git. Se la utiliza principalmente para la creación de código fuente de programas de computadora. El código de los proyectos alojados en GitHub se almacena típicamente de forma pública, aunque utilizando una cuenta de pago, también permite hospedar repositorios privados.